# CREDIT CARD APPROVAL SYSTEM

## Life Cycle of Machine Learning Project

#### 1- Understanding Problem Statement
#### 2- Data Collection
#### 3- Data Checks to perform
#### 4- Exploratory Data Analysis
#### 5- Model Training
#### 6- Choose best model

## 1 Problem Statement 

#### This project evaluates how the customers perform based on

## 2 Data Collection

## 2.1 Import Data and required Packages

In [2]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import re
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

https://huggingface.co/datasets/Rianknow/creditscoring

In [3]:
df = pd.read_csv('data/dataset.csv')

In [4]:
df

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
99996,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
99997,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
99998,0x25fec,CUS_0x942c,July,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,33.638208,31 Years and 9 Months,No,35.104023,251.67258219721603,Low_spent_Large_value_payments,319.164979,Standard
99999,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628.99_,3359.415833,4,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

 Age - outliers
 SSN - illegal values
 Occupation - ___ values
 Annual Income - remove _ from end
 Monthly Inhand Salary - Missing values
 Num_Bank_Accounts - Outliers
 Num_Credit_Card - Outliers
 Interest_Rate - outliers
 Num_of_Loan - outliers
 Type_of_Loan - Missing values
 Delay_from_due_date - 
 Num_of_Delayed_Payment - Missing values , _ at end
 Changed_Credit_Limit - _
 Num_Credit_Inquiries - Missing values
 Credit_Mix - _
 Outstanding_Debt - _ at end 
 Credit_Utilization_Ratio - 
 Credit_History_Age - transform into number
 Payment_of_Min_Amount  - NM
 Total_EMI_per_month - 
 Amount_invested_monthly - Missing values , _ at end 
 Payment_Behaviour - !@9#%8 values
 Monthly_Balance - Missing values
 Credit_Score -

In [5]:
df.shape

(100000, 28)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  object
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 21.4+ MB

In [7]:
df.isnull().sum()

ID                              0
Customer_ID                     0
Month                           0
Name                         9985
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary       15002
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                11408
Delay_from_due_date             0
Num_of_Delayed_Payment       7002
Changed_Credit_Limit            0
Num_Credit_Inquiries         1965
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           9030
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      4479
Payment_Behaviour               0
Monthly_Balance              1200
Credit_Score                    0
dtype: int64

In [8]:
df.describe()

,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Num_Credit_Inquiries,Credit_Utilization_Ratio,Total_EMI_per_month
count,84998.000000,100000.000000,100000.00000,100000.000000,100000.000000,98035.000000,100000.000000,100000.000000
mean,4194.170850,17.091280,22.47443,72.466040,21.068780,27.754251,32.285173,1403.118217
std,3183.686167,117.404834,129.05741,466.422621,14.860104,193.177339,5.116875,8306.041270
min,303.645417,-1.000000,0.00000,1.000000,-5.000000,0.000000,20.000000,0.000000
25%,1625.568229,3.000000,4.00000,8.000000,10.000000,3.000000,28.052567,30.306660
50%,3093.745000,6.000000,5.00000,13.000000,18.000000,6.000000,32.305784,69.249473
75%,5957.448333,7.000000,7.00000,20.000000,28.000000,9.000000,36.496663,161.224249
max,15204.633333,1798.000000,1499.00000,5797.000000,67.000000,2597.000000,50.000000,82331.000000

## Checks to Perform
#### Missing values
#### Duplicates
#### data type
#### no of unique values
#### statistics of dataset
#### various categories present in different categorical columns

In [9]:
## Missing values
df.isnull().sum()

ID                              0
Customer_ID                     0
Month                           0
Name                         9985
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary       15002
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                11408
Delay_from_due_date             0
Num_of_Delayed_Payment       7002
Changed_Credit_Limit            0
Num_Credit_Inquiries         1965
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           9030
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      4479
Payment_Behaviour               0
Monthly_Balance              1200
Credit_Score                    0
dtype: int64

Dataset has missing values

# Data Cleaning

In [10]:
df_copy = df.copy()
df_copy.columns

Index(['ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation',
       'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score'],
      dtype='object')

In [11]:
for col in df_copy.columns:
    if df_copy[col].dtype == 'object':
        df_copy[col] = df_copy[col].apply(lambda x: x.strip() if isinstance(x, str) else x)
        df_copy[col] = df_copy[col].apply(lambda x: x.rstrip('_') if isinstance(x, str) else x)
        df_copy[col] = df_copy[col].apply(lambda x: x.lstrip('_') if isinstance(x, str) else x)


df_copy['Customer_ID'] = df_copy['Customer_ID'].apply(lambda x: x.lstrip('CUS_0x') if isinstance(x, str) else x)

df_copy['Payment_Behaviour'] = df_copy['Payment_Behaviour'].replace('!@9#%8', np.nan, regex=False)
df_copy['Occupation'] = df_copy['Occupation'].replace('', np.nan, regex=False)
df_copy['Credit_Mix'] = df_copy['Credit_Mix'].replace('', np.nan, regex=False)

In [12]:
df_copy.isnull().sum()

ID                              0
Customer_ID                     0
Month                           0
Name                         9985
Age                             0
SSN                             0
Occupation                   7062
Annual_Income                   0
Monthly_Inhand_Salary       15002
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                11408
Delay_from_due_date             0
Num_of_Delayed_Payment       7002
Changed_Credit_Limit            0
Num_Credit_Inquiries         1965
Credit_Mix                  20195
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           9030
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      4479
Payment_Behaviour            7600
Monthly_Balance              1200
Credit_Score                    0
dtype: int64

In [13]:
df_copy = df_copy.drop(columns=['Name','SSN'])

In [14]:
df_copy

,ID,Customer_ID,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,d40,January,23,Scientist,19114.12,1824.843333,3,4,3,...,NaN,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,d40,February,23,Scientist,19114.12,NaN,3,4,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,d40,March,-500,Scientist,19114.12,NaN,3,4,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,d40,April,23,Scientist,19114.12,NaN,3,4,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,d40,May,23,Scientist,19114.12,1824.843333,3,4,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0x25fe9,942c,April,25,Mechanic,39628.99,3359.415833,4,6,7,...,NaN,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
99996,0x25fea,942c,May,25,Mechanic,39628.99,3359.415833,4,6,7,...,NaN,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
99997,0x25feb,942c,June,25,Mechanic,39628.99,3359.415833,4,6,5729,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
99998,0x25fec,942c,July,25,Mechanic,39628.99,3359.415833,4,6,7,...,Good,502.38,33.638208,31 Years and 9 Months,No,35.104023,251.67258219721603,Low_spent_Large_value_payments,319.164979,Standard
99999,0x25fed,942c,August,25,Mechanic,39628.99,3359.415833,4,6,7,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,NaN,393.673696,Poor

In [15]:
float_cols = ['Annual_Income','Interest_Rate', 'Monthly_Inhand_Salary', 'Changed_Credit_Limit', 'Changed_Credit_Limit', 'Outstanding_Debt', 'Credit_Utilization_Ratio', 'Total_EMI_per_month', 'Amount_invested_monthly', 'Monthly_Balance'] 

int_cols = ['Age','Num_Bank_Accounts', 'Num_Credit_Card', 'Num_of_Loan', 'Delay_from_due_date', 'Num_of_Delayed_Payment','Num_Credit_Inquiries']
df_copy.loc[df_copy['Changed_Credit_Limit']=='','Changed_Credit_Limit'] = np.nan
cols_like_age = ['Age','Num_Bank_Accounts', 'Num_Credit_Card', 'Num_of_Loan', 'Num_of_Delayed_Payment','Num_Credit_Inquiries','Interest_Rate', ]

for col in float_cols:
    # print(f'{col} started')
    df_copy[col] = df_copy[col].apply(lambda x: float(x) if not pd.isna(x) else np.nan)
    
    # print(f'{col} converted')
# print('------------------------------------------------------------------')
for col in int_cols:
    # print(f'{col} started')
    df_copy[col] = df_copy[col].apply(lambda x: int(x) if not pd.isna(x) else np.nan)

    # print(f'{col} converted')
# print('------------------------------------------------------------------')

for col in cols_like_age:
    df_copy.loc[(df_copy[col] < 0) | (df_copy[col] > 100), col] = np.nan

df_copy.loc[(df_copy['Num_Bank_Accounts'] < 0) | (df_copy['Num_Bank_Accounts'] > 60), 'Num_Bank_Accounts'] = np.nan
categorical_cols = df_copy.select_dtypes(include=['object', 'category']).columns.tolist()

# Get list of numerical columns (int, float)
numerical_cols = df_copy.select_dtypes(include=['int64', 'float64']).columns.tolist()

print("Categorical columns:", categorical_cols)
print("Numerical columns:", numerical_cols)
for col in categorical_cols:
    df_copy[col] = df_copy[col].apply(lambda x: str(x) if not pd.isna(x) else np.nan)

Categorical columns: ['ID', 'Customer_ID', 'Month', 'Occupation', 'Type_of_Loan', 'Credit_Mix', 'Credit_History_Age', 'Payment_of_Min_Amount', 'Payment_Behaviour', 'Credit_Score']
Numerical columns: ['Age', 'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts', 'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit', 'Num_Credit_Inquiries', 'Outstanding_Debt', 'Credit_Utilization_Ratio', 'Total_EMI_per_month', 'Amount_invested_monthly', 'Monthly_Balance']

In [16]:
# Define a function to fill missing values by group using median for numerical columns
def impute_by_customer_median(df_copy, column):
    df_copy[column] = df_copy.groupby('Customer_ID')[column].transform(lambda x: x.fillna(x.median()))
    return df_copy

In [17]:
# Impute numerical columns by median per Customer_ID
for col in int_cols:
    df_copy = impute_by_customer_median(df_copy, col)

In [18]:
# Impute categorical columns by mode per Customer_ID
for col in float_cols:
    df_copy = impute_by_customer_median(df_copy, col)

In [ ]:


# Define a function to fill missing values by group using mode for categorical columns
def impute_by_customer_mode(df_copy, column):
    # Compute mode per group and fill missing
    mode_per_group = df_copy.groupby('Customer_ID')[column].apply(lambda x: x.mode().iloc[0] if not x.mode().empty else np.nan)
    df_copy[column] = df_copy.apply(lambda row: mode_per_group[row['Customer_ID']] if pd.isna(row[column]) else row[column], axis=1)
    return df_copy

for col in categorical_cols:
    if col == 'Credit_History_Age':
        continue
    df_copy = impute_by_customer_mode(df_copy, col)

In [20]:
# Impute missing values in 'Type_of_Loan' with the mode (most frequent value) of the entire column
mode_value = df_copy['Type_of_Loan'].mode()[0]
df_copy['Type_of_Loan'] = df_copy['Type_of_Loan'].fillna(mode_value)
df_copy['Payment_of_Min_Amount'] = df_copy['Payment_of_Min_Amount'].replace('NM', 'No')

In [21]:
df_copy['Type_of_Loan'].unique()

array(['Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan',
       'Credit-Builder Loan', 'Auto Loan, Auto Loan, and Not Specified',
       ..., 'Home Equity Loan, Auto Loan, Auto Loan, and Auto Loan',
       'Payday Loan, Student Loan, Mortgage Loan, and Not Specified',
       'Personal Loan, Auto Loan, Mortgage Loan, Student Loan, and Student Loan'],
      dtype=object)

In [22]:
import pandas as pd
import numpy as np

# Function to convert "xx Years and yy Months" to total months
def convert_age_to_months(age_str):
    if pd.isna(age_str) or age_str in ['NA', '_', '']:
        return np.nan
    match = re.match(r"(\d+)\s*Years\s*and\s*(\d+)\s*Months", age_str)
    if match:
        years = int(match.group(1))
        months = int(match.group(2))
        return years * 12 + months
    return np.nan

# Apply conversion
df_copy['Credit_History_Age_Months'] = df_copy['Credit_History_Age'].apply(convert_age_to_months)

# Impute missing values with median of the new numeric column
median_age = df_copy['Credit_History_Age_Months'].median()
df_copy['Credit_History_Age_Months'] = df_copy['Credit_History_Age_Months'].fillna(median_age)

# Drop the original string column if no longer needed
df_copy = df_copy.drop(columns=['Credit_History_Age'])

In [23]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 26 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   ID                         100000 non-null  object
 1   Customer_ID                100000 non-null  object
 2   Month                      100000 non-null  object
 3   Age                        100000 non-null  float64
 4   Occupation                 100000 non-null  object
 5   Annual_Income              100000 non-null  float64
 6   Monthly_Inhand_Salary      100000 non-null  float64
 7   Num_Bank_Accounts          100000 non-null  float64
 8   Num_Credit_Card            100000 non-null  float64
 9   Interest_Rate              100000 non-null  float64
 10  Num_of_Loan                100000 non-null  float64
 11  Type_of_Loan               100000 non-null  object
 12  Delay_from_due_date        100000 non-null  int64
 13  Num_of_Delayed_Payment     100000 non-null  float64
 14  Changed_Credit_Limit       100000 non-null  float64
 15  Num_Credit_Inquiries       100000 non-null  float64
 16  Credit_Mix                 100000 non-null  object
 17  Outstanding_Debt           100000 non-null  float64
 18  Credit_Utilization_Ratio   100000 non-null  float64
 19  Payment_of_Min_Amount      100000 non-null  object
 20  Total_EMI_per_month        100000 non-null  float64
 21  Amount_invested_monthly    100000 non-null  float64
 22  Payment_Behaviour          100000 non-null  object
 23  Monthly_Balance            100000 non-null  float64
 24  Credit_Score               100000 non-null  object
 25  Credit_History_Age_Months  100000 non-null  float64
dtypes: float64(16), int64(1), object(9)
memory usage: 19.8+ MB

In [24]:
df_copy

,ID,Customer_ID,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score,Credit_History_Age_Months
0,0x1602,d40,January,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,...,Good,809.98,26.822620,No,49.574949,80.415295,High_spent_Small_value_payments,312.494089,Good,265.0
1,0x1603,d40,February,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,...,Good,809.98,31.944960,No,49.574949,118.280222,Low_spent_Large_value_payments,284.629162,Good,219.0
2,0x1604,d40,March,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,...,Good,809.98,28.609352,No,49.574949,81.699521,Low_spent_Medium_value_payments,331.209863,Good,267.0
3,0x1605,d40,April,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,...,Good,809.98,31.377862,No,49.574949,199.458074,Low_spent_Small_value_payments,223.451310,Good,268.0
4,0x1606,d40,May,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,...,Good,809.98,24.797347,No,49.574949,41.420153,High_spent_Medium_value_payments,341.489231,Good,269.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0x25fe9,942c,April,25.0,Mechanic,39628.99,3359.415833,4.0,6.0,7.0,...,Good,502.38,34.663572,No,35.104023,60.971333,High_spent_Large_value_payments,479.866228,Poor,378.0
99996,0x25fea,942c,May,25.0,Mechanic,39628.99,3359.415833,4.0,6.0,7.0,...,Good,502.38,40.565631,No,35.104023,54.185950,High_spent_Medium_value_payments,496.651610,Poor,379.0
99997,0x25feb,942c,June,25.0,Mechanic,39628.99,3359.415833,4.0,6.0,7.0,...,Good,502.38,41.255522,No,35.104023,24.028477,High_spent_Large_value_payments,516.809083,Poor,380.0
99998,0x25fec,942c,July,25.0,Mechanic,39628.99,3359.415833,4.0,6.0,7.0,...,Good,502.38,33.638208,No,35.104023,251.672582,Low_spent_Large_value_payments,319.164979,Standard,381.0
99999,0x25fed,942c,August,25.0,Mechanic,39628.99,3359.415833,4.0,6.0,7.0,...,Good,502.38,34.192463,No,35.104023,167.163865,High_spent_Large_value_payments,393.673696,Poor,382.0

In [26]:
neg_count = (df_copy.select_dtypes(include=[np.number]) < 0).sum()
neg_columns = neg_count[neg_count > 0]

print("Columns with negative values and their counts:")
print(neg_columns)

Columns with negative values and their counts:
Delay_from_due_date      591
Changed_Credit_Limit    1586
Monthly_Balance            9
dtype: int64

Convert object types to particular data types

1. Convert Categorical Variables to Numerical Form  - One hot encoding
2. Normalize or Scale Numerical Features - 
3. Feature Engineering: Create New/Derived Features