# CREDIT CARD APPROVAL SYSTEM

## Life Cycle of Machine Learning Project

#### 1- Understanding Problem Statement
#### 2- Data Collection
#### 3- Data Checks to perform
#### 4- Exploratory Data Analysis
#### 5- Model Training
#### 6- Choose best model

## 1 Problem Statement 

#### This project evaluates how the customers perform based on

## 2 Data Collection

## 2.1 Import Data and required Packages

In [1800]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [1801]:
df = pd.read_csv('data/train.csv')

In [1802]:
df

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
99996,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
99997,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
99998,0x25fec,CUS_0x942c,July,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,33.638208,31 Years and 9 Months,No,35.104023,251.67258219721603,Low_spent_Large_value_payments,319.164979,Standard
99999,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628.99_,3359.415833,4,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

 Age - outliers
 SSN - illegal values
 Occupation - ___ values
 Annual Income - remove _ from end
 Monthly Inhand Salary - Missing values
 Num_Bank_Accounts - Outliers
 Num_Credit_Card - Outliers
 Interest_Rate - outliers
 Num_of_Loan - outliers
 Type_of_Loan - Missing values
 Delay_from_due_date - 
 Num_of_Delayed_Payment - Missing values , _ at end
 Changed_Credit_Limit - _
 Num_Credit_Inquiries - Missing values
 Credit_Mix - _
 Outstanding_Debt - _ at end 
 Credit_Utilization_Ratio - 
 Credit_History_Age - transform into number
 Payment_of_Min_Amount  - NM
 Total_EMI_per_month - 
 Amount_invested_monthly - Missing values , _ at end 
 Payment_Behaviour - !@9#%8 values
 Monthly_Balance - Missing values
 Credit_Score -

In [1803]:
df.shape

(100000, 28)

In [1804]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  object
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 21.4+ MB

In [1827]:
df.describe()

,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Num_Credit_Inquiries,Credit_Utilization_Ratio,Total_EMI_per_month
count,84998.000000,100000.000000,100000.00000,100000.000000,100000.000000,98035.000000,100000.000000,100000.000000
mean,4194.170850,17.091280,22.47443,72.466040,21.068780,27.754251,32.285173,1403.118217
std,3183.686167,117.404834,129.05741,466.422621,14.860104,193.177339,5.116875,8306.041270
min,303.645417,-1.000000,0.00000,1.000000,-5.000000,0.000000,20.000000,0.000000
25%,1625.568229,3.000000,4.00000,8.000000,10.000000,3.000000,28.052567,30.306660
50%,3093.745000,6.000000,5.00000,13.000000,18.000000,6.000000,32.305784,69.249473
75%,5957.448333,7.000000,7.00000,20.000000,28.000000,9.000000,36.496663,161.224249
max,15204.633333,1798.000000,1499.00000,5797.000000,67.000000,2597.000000,50.000000,82331.000000

## Checks to Perform
#### Missing values
#### Duplicates
#### data type
#### no of unique values
#### statistics of dataset
#### various categories present in different categorical columns

In [1805]:
## Missing values
df.isnull().sum()

ID                              0
Customer_ID                     0
Month                           0
Name                         9985
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary       15002
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                11408
Delay_from_due_date             0
Num_of_Delayed_Payment       7002
Changed_Credit_Limit            0
Num_Credit_Inquiries         1965
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           9030
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      4479
Payment_Behaviour               0
Monthly_Balance              1200
Credit_Score                    0
dtype: int64

Dataset has missing values

# Data Cleaning

In [1806]:
df['Name'].unique().shape

(10140,)

In [1807]:
df['Name'].str.isnumeric().sum()

0

In [1808]:
df_copy = df.copy()

In [1809]:
df_copy['ID'].dtype

dtype('O')

In [1810]:
def hex_to_int_safe(s):
    if not isinstance(s, str):
        return s
    cleaned = s.replace('CUS_', '').replace('_', '').replace('0x', '').replace('0X', '')
    if cleaned == '':
        return np.nan
    try:
        return int(cleaned, 16)
    except ValueError:
        return np.nan

df_copy['Customer_ID'] = df_copy['Customer_ID'].apply(hex_to_int_safe)

In [1811]:
# Convert ID column from hex to int
df_copy['ID'] = df_copy['ID'].apply(hex_to_int_safe)
df_copy['Customer_ID'] = df_copy['Customer_ID'].apply(hex_to_int_safe)

In [1812]:
df_copy

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,5634,3392,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,5635,3392,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,5636,3392,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,5637,3392,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,5638,3392,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,155625,37932,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
99996,155626,37932,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
99997,155627,37932,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
99998,155628,37932,July,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,33.638208,31 Years and 9 Months,No,35.104023,251.67258219721603,Low_spent_Large_value_payments,319.164979,Standard
99999,155629,37932,August,Nicks,25,078-73-5990,Mechanic,39628.99_,3359.415833,4,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

In [1813]:
# def impute_and_standardize_names(df_copy, name_column):
#     """
#     1. Normalize empty/blank names to NaN
#     2. Get the first non-null name per Customer_ID
#     3. Detect mismatches (same Customer_ID with different names)
#     4. Replace all mismatched names with the canonical first name
#     """
#     # Step 1: Normalize empty/blank names to NaN
#     df_copy[name_column] = df_copy[name_column].replace(r'^\s*$', np.nan, regex=True)
    
#     # Step 2: Get the first non-null name per Customer_ID
#     first_name_per_cust = (df_copy
#                            .loc[df_copy[name_column].notna()]
#                            .groupby('Customer_ID', sort=False)[name_column]
#                            .first())
    
#     # Step 3: Map canonical names back to all rows
#     df_copy['canonical_name'] = df_copy['Customer_ID'].map(first_name_per_cust)
    
#     # Step 4: Detect mismatches (non-null names that don't match canonical)
#     mismatches = df_copy[
#         (df_copy[name_column].notna()) & 
#         (df_copy[name_column] != df_copy['canonical_name'])
#     ]
    
#     print(f"Found {len(mismatches)} mismatched name(s):")
#     if len(mismatches) > 0:
#         print(mismatches[['Customer_ID', name_column, 'canonical_name']])
    
#     # Step 5: Replace all names (including mismatches and NaN) with canonical
#     df_copy[name_column] = df_copy['canonical_name']
    
#     # Clean up temp column
#     df_copy.drop('canonical_name', axis=1, inplace=True)
    
#     return df_copy, mismatches

# # Usage:
# df_copy, mismatches = impute_and_standardize_names(df_copy, 'Name')

In [1814]:
def impute_values(series):
# normalize empty/blank names to NaN
    df_copy[series] = df_copy[series].replace(r'^\s*$', np.nan, regex=True)
    # df_copy['column'].str.contains(r'^\d+_$')
    # df_copy[series] = df_copy[series].replace(r'^\s*\d+_$', np.nan, regex=True)

    # get the first non-null name per Customer_ID_int
    first_name = (df_copy
              .loc[df_copy[series].notna()]
              .groupby('Customer_ID', sort=False)[series]
              .first())
    
    return first_name

# fill missing names by mapping from Customer_ID_int
df_copy['Name'] = df_copy['Name'].fillna(df_copy['Customer_ID'].map(impute_values('Name')))
df_copy['Name'] = df_copy['Name'].apply(lambda v: str(v).lstrip().rstrip() if not pd.isna(v) else np.nan)
df_copy['Age'] = df_copy['Age'].fillna(df_copy['Customer_ID'].map(impute_values('Age')))
df_copy['Occupation'] = df_copy['Occupation'].replace('_______', np.nan, regex=True)
df_copy['Occupation'] = df_copy['Occupation'].fillna(df_copy['Customer_ID'].map(impute_values('Occupation')))
df_copy['SSN'] = df_copy['SSN'].replace('#F%$D@*&8', np.nan)
df_copy['SSN'] = df_copy['SSN'].fillna(df_copy['Customer_ID'].map(impute_values('SSN')))
df_copy['Annual_Income'] = df_copy['Annual_Income'].astype(object).apply(lambda v: str(v).strip().strip('_') if not pd.isna(v) else np.nan)
df_copy['Annual_Income'] = df_copy['Annual_Income'].fillna(df_copy['Customer_ID'].map(impute_values('Annual_Income')))
df_copy['Annual_Income'] = df_copy['Annual_Income'].apply(lambda v: float(v) if not pd.isna(v) else np.nan)
df_copy['Monthly_Inhand_Salary'] = df_copy['Monthly_Inhand_Salary'].fillna(df_copy['Customer_ID'].map(impute_values('Monthly_Inhand_Salary')))  
df_copy['Num_of_Delayed_Payment'] = df_copy['Num_of_Delayed_Payment'].apply(lambda v: str(v).strip().strip('_') if not pd.isna(v) else np.nan)
df_copy['Num_of_Delayed_Payment'] = df_copy['Num_of_Delayed_Payment'].apply(lambda v: int(v) if not pd.isna(v) else np.nan)
df_copy['Payment_Behaviour'] = df_copy['Payment_Behaviour'].replace('!@9#%8', np.nan)
df_copy['Changed_Credit_Limit'] = df_copy['Changed_Credit_Limit'].replace('_', np.nan)
df_copy['Changed_Credit_Limit'] = df_copy['Changed_Credit_Limit'].apply(lambda v: float(v) if not pd.isna(v) else np.nan)
df_copy['Outstanding_Debt'] = df_copy['Outstanding_Debt'].apply(lambda v: str(v).strip().strip('_') if not pd.isna(v) else np.nan)
df_copy['Outstanding_Debt'] = df_copy['Outstanding_Debt'].apply(lambda v: float(v) if not pd.isna(v) else np.nan)

In [1815]:
df_copy

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,5634,3392,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,5635,3392,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,5636,3392,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,5637,3392,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,5638,3392,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,155625,37932,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
99996,155626,37932,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
99997,155627,37932,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
99998,155628,37932,July,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,33.638208,31 Years and 9 Months,No,35.104023,251.67258219721603,Low_spent_Large_value_payments,319.164979,Standard
99999,155629,37932,August,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,NaN,393.673696,Poor

In [1816]:
# clean trailing/leading underscores and safely parse age values
# df_copy['Age'] = df_copy['Age'].astype(object).apply(lambda v: str(v).strip().strip('_') if not pd.isna(v) else np.nan)

def safe_parse_age(val):
	"""Return integer age if val represents a reasonable age (1-99), else np.nan."""
	if pd.isna(val):
		return np.nan
	# already numeric (int/float stored as string after previous step), try convert
	try:
		# allow strings like "23", "+23", "-1" etc.
		s = str(val).strip()
		if s == '':
			return np.nan
		if s.lstrip('+-').isdigit():
			ival = int(s)
			return ival if 0 < ival < 100 else np.nan
		# fallback: attempt float->int conversion when possible
		f = float(s)
		ival = int(f)
		return ival if 0 < ival < 100 else np.nan
	except Exception:
		return np.nan

df_copy['Age'] = df_copy['Age'].apply(safe_parse_age)

# build mapping and impute missing ages from Customer_ID where possible
age_map = impute_values('Age')  # returns Series indexed by Customer_ID
df_copy['Age'] = df_copy['Age'].fillna(df_copy['Customer_ID'].map(age_map))
df_copy['Num_Bank_Accounts'] = df_copy['Num_Bank_Accounts'].apply(safe_parse_age)
accounts_map = impute_values('Num_Bank_Accounts')
df_copy['Num_Bank_Accounts'] = df_copy['Num_Bank_Accounts'].fillna(df_copy['Customer_ID'].map(accounts_map))
df_copy['Num_Credit_Card'] = df_copy['Num_Credit_Card'].apply(safe_parse_age)
cards_map = impute_values('Num_Credit_Card')
df_copy['Num_Credit_Card'] = df_copy['Num_Credit_Card'].fillna(df_copy['Customer_ID'].map(cards_map))
df_copy['Num_of_Loan'] = df_copy['Num_of_Loan'].apply(safe_parse_age)
loans_map = impute_values('Num_of_Loan')
df_copy['Num_of_Loan'] = df_copy['Num_of_Loan'].fillna(df_copy['Customer_ID'].map(loans_map))
df_copy['Interest_Rate'] = df_copy['Interest_Rate'].apply(safe_parse_age)
ir_map = impute_values('Interest_Rate')
df_copy['Interest_Rate'] = df_copy['Interest_Rate'].fillna(df_copy['Customer_ID'].map(ir_map))

In [1817]:
df_copy['Credit_History_Age'].isna().sum()
df_copy['Credit_History_Age'].fillna('None')

0         22 Years and 1 Months
1                          None
2         22 Years and 3 Months
3         22 Years and 4 Months
4         22 Years and 5 Months
                  ...
99995     31 Years and 6 Months
99996     31 Years and 7 Months
99997     31 Years and 8 Months
99998     31 Years and 9 Months
99999    31 Years and 10 Months
Name: Credit_History_Age, Length: 100000, dtype: object

In [1818]:
import pandas as pd
import numpy as np
import re

def parse_age(age_str):
    if pd.isna(age_str):
        return None, None
    match = re.match(r"(\d+)\s*Years\s*and\s*(\d+)\s*Months", age_str)
    if match:
        return int(match.group(1)), int(match.group(2))
    return None, None

def format_age(years, months):
    return f"{years} Years and {months} Months"

def increment_age(years, months):
    months += 1
    if months > 11:
        months = 0
        years += 1
    return years, months

def decrement_age(years, months):
    months -= 1
    if months < 0:
        months = 11
        years -= 1
    return years, months

def impute_credit_history_age(df, col):
    # df = df.sort_values(['Customer_ID']).reset_index(drop=True)
    for cust_id, group in df.groupby('Customer_ID'):
        # Forward imputation
        prev_years, prev_months = None, None
        for i in group.index:
            val = df.at[i, col]
            if pd.isna(val) or val.strip() == '':
                if prev_years is not None:
                    new_years, new_months = increment_age(prev_years, prev_months)
                    df.at[i, col] = format_age(new_years, new_months)
                    prev_years, prev_months = new_years, new_months
                else:
                    # Placeholder None, will impute backward later
                    df.at[i, col] = None
            else:
                prev_years, prev_months = parse_age(val)

        # Backward imputation if first rows were None
        for idx in group.index[::-1]:
            if df.at[idx, col] is None or pd.isna(df.at[idx, col]) or df.at[idx, col].strip() == '':
                # Look forward to next non-null value
                next_idx = idx + 1
                if next_idx in df.index and (df.at[next_idx, col] not in [None, np.nan, '']):
                    next_years, next_months = parse_age(df.at[next_idx, col])
                    new_years, new_months = decrement_age(next_years, next_months)
                    df.at[idx, col] = format_age(new_years, new_months)
            else:
                # Once a valid value found going backward, stop
                break
    return df

# Execute on your DataFrame
df_copy = impute_credit_history_age(df_copy,'Credit_History_Age')

In [1819]:
df_copy['Credit_History_Age'].isna().sum()

1230

In [1820]:
# import pandas as pd
# import re
# import numpy as np

# def convert_age(age):
#     if not isinstance(age, str):
#         return np.nan  # handle NaN or non-string gracefully
#     match = re.match(r"(\d+)\s*Years\s*and\s*(\d+)\s*Months", age)
#     if match:
#         years = int(match.group(1))
#         months = int(match.group(2))
#         return years + months / 12
#     else:
#         return np.nan

# # Apply the function
# df_copy['Credit_History_Age'] = df_copy['Credit_History_Age'].apply(convert_age)

# print(df_copy['Credit_History_Age'])

In [1821]:
df_copy['Monthly_Balance'] = df_copy['Monthly_Balance'].apply(lambda v: str(v).strip().strip('_') if not pd.isna(v) else np.nan)
df_copy['Monthly_Balance'] = df_copy['Monthly_Balance'].apply(lambda v: float(v) if not pd.isna(v) else np.nan)

In [1822]:
df_copy['Amount_invested_monthly'] = df_copy['Amount_invested_monthly'].str.strip('_')
df_copy['Amount_invested_monthly'] = df_copy['Amount_invested_monthly'].str.replace('_', '', regex=False)
df_copy['Amount_invested_monthly'] = df_copy['Amount_invested_monthly'].apply(lambda v: float(v) if not pd.isna(v) else np.nan)

In [1823]:
df_copy['Month'].unique()

array(['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August'], dtype=object)

In [1824]:
with open('output.txt', 'w') as f:
    count = df_copy['Name'].unique().shape[0]
    na = df_copy['Name'].isna().sum()
    names = df_copy['Name'].unique().tolist()
    names.sort(reverse=False)
    f.write(f'{count}\n{names}\n')
    # for s in names:
    #     f.write(s + '\n')
f.close()

In [1825]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  int64
 1   Customer_ID               100000 non-null  int64
 2   Month                     100000 non-null  object
 3   Name                      100000 non-null  object
 4   Age                       100000 non-null  float64
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  float64
 8   Monthly_Inhand_Salary     100000 non-null  float64
 9   Num_Bank_Accounts         95656 non-null   float64
 10  Num_Credit_Card           100000 non-null  float64
 11  Interest_Rate             100000 non-null  float64
 12  Num_of_Loan               88632 non-null   float64
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   float64
 16  Changed_Credit_Limit      97909 non-null   float64
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  float64
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        98770 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   float64
 25  Payment_Behaviour         92400 non-null   object
 26  Monthly_Balance           98800 non-null   float64
 27  Credit_Score              100000 non-null  object
dtypes: float64(15), int64(3), object(10)
memory usage: 21.4+ MB

In [1826]:
df_copy

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,5634,3392,January,Aaron Maashoh,23.0,821-00-0265,Scientist,19114.12,1824.843333,3.0,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.415295,High_spent_Small_value_payments,312.494089,Good
1,5635,3392,February,Aaron Maashoh,23.0,821-00-0265,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,31.944960,22 Years and 2 Months,No,49.574949,118.280222,Low_spent_Large_value_payments,284.629162,Good
2,5636,3392,March,Aaron Maashoh,23.0,821-00-0265,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521,Low_spent_Medium_value_payments,331.209863,Good
3,5637,3392,April,Aaron Maashoh,23.0,821-00-0265,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.458074,Low_spent_Small_value_payments,223.451310,Good
4,5638,3392,May,Aaron Maashoh,23.0,821-00-0265,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153,High_spent_Medium_value_payments,341.489231,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,155625,37932,April,Nicks,25.0,078-73-5990,Mechanic,39628.99,3359.415833,4.0,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.971333,High_spent_Large_value_payments,479.866228,Poor
99996,155626,37932,May,Nicks,25.0,078-73-5990,Mechanic,39628.99,3359.415833,4.0,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.185950,High_spent_Medium_value_payments,496.651610,Poor
99997,155627,37932,June,Nicks,25.0,078-73-5990,Mechanic,39628.99,3359.415833,4.0,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.028477,High_spent_Large_value_payments,516.809083,Poor
99998,155628,37932,July,Nicks,25.0,078-73-5990,Mechanic,39628.99,3359.415833,4.0,...,Good,502.38,33.638208,31 Years and 9 Months,No,35.104023,251.672582,Low_spent_Large_value_payments,319.164979,Standard
99999,155629,37932,August,Nicks,25.0,078-73-5990,Mechanic,39628.99,3359.415833,4.0,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.163865,NaN,393.673696,Poor